<!DOCTYPE html>
<!-- ng-app = directive - tells to load module "store" in app.js when doc loads -->
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		
	</head>
	<!-- set directive to tie controller to the page so we can access data in full page-->
	<body ng-controller="StoreController as store">
		<ul class="list-group">
		<!-- hide this div if a product is sold out -->
		<!-- <div ng-hide="store.product.soldOut"> -->
			<li class="list-group-item" ng-repeat="product in store.products | orderBy: '-price'"> <!-- ng-repeat a loop. using built in filter of orderBy (- means descending order) -->
				<h3>{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em> 
					<!-- | tells angular to take result of first expression and put through second. currency is an angular filter that localizes and adds decimal Angular has lots of filters, like date/time, etc.-->
					<!-- <img ng-src="{{product.image.full}}"/> use if we have a source link saved in our object info-->
				</h3>
				<p>{{product.description}}</p>
				<!-- directive is telling browser to show only if canPurchase is true -->
				<button ng-show="store.product.canPurchase"> Add to Cart </button>

				<section>
					<ul class="nav nav-pills">
						<!-- ng-click binds the data (tab number) to this item so if we had expression {{tab}}. as we clicked the different list items, the tab value would be re-evaluated and change on fly -->
						<li><a href ng-click="tab = 1">Description</a></li>
						<li><a href ng-click="tab = 2">Specifications</a></li>
						<li><a href ng-click="tab = 3">Reviews</a></li>
					</ul>
				</section>
			</li>
		</ul>
		</div>
	</body>
</html>